/* Inicio del reset */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Condensed:wght@700&display=swap');


  


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fin del reset */
 

/* Definición de variables */
:root {
	--primary: #EEEEEE;
	--secondary: #F7F7F7;
	--third: #393E46;
	--fourth: #929AAB;
	--background-dark: #2d3548;
 	--text-light: rgba(255,255,255,0.6);
  	--text-lighter: rgba(255,255,255,0.9);
  	--spacing-s: 8px;
  	--spacing-m: 16px;
  	--spacing-l: 24px;
  	--spacing-xl: 32px;
  	--spacing-xxl: 64px;
  	--width-container: 1200px;


	
}


/* Aplicacion de fuentes */

.font-example{
    font-family: 'Roboto Condensed', sans-serif;
}


.font-Abel{
	font-family: 'Abel', sans-serif;
	/* font-style: italic; */
	font-weight: bold;
	font-size: .4vh;
	
}

.font-hero{
	font-size: 2.5rem;
	font-style: italic;
	font-weight: bold;
}

.text-center{
    text-align: center;
	vertical-align: middle;
}

.font-aumento{
    font-size: 19px;
}

.text-underline{
    text-decoration: underline;
    font-size: 32px;
}

.logo {
	font-size: 2.5rem;
	color: var(--third);
}

body{
	min-height: 100vh;
	background-color:var(--secondary);
	display: flex;
	flex-direction: column;
	
}

article{
	background-size: cover;
	
}


.text-orange{
    color: orangered;
}

/* Fin de aplicacion de fuentes */


/* Aplicacion del BOX */

.box-example{
    border: 3px   ;
    margin-left: 30rem;
    margin-right: 45rem;
    padding: 15px;
	flex-wrap: wrap;
	text-align: center;
	

}


/* Fin de aplicacion del BOX */



/* Aplicacion de CARDS */

.vertical-arriba{
	margin-bottom: 44vh;
}


.d-flex{
	display: flex;
}

.flex-center{
	justify-content: center;
	align-items: center;
}

.flex-column {
	flex-direction: column;
}



header {
	height: 80vh;
	background-image: url(https://img.remediosdigitales.com/5a10d8/batman-garaje-1-/1366_2000.jpg);
	background-position: center;
	background-size: cover;
	
}



*{
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
 
  
  body{
	height: 100%;
  }
  
  .hero-section{
	align-items: flex-start;
	background-image: linear-gradient(15deg, --primary 0%, --secondary 150%);
	display: flex;
	min-height: 100%;
	justify-content: center;
	padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: var(--spacing-l);
	grid-row-gap: var(--spacing-l);
	max-width: var(--width-container);
	width: 100%;
  }
  
  @media(min-width: 576px){
	.card-grid{
	  grid-template-columns: repeat(2, 1fr); 
	}
  }
  
  @media(min-width: 960px){
	.card-grid{
	  grid-template-columns: repeat(4, 1fr); 
	}
  }
  
  .card{
	list-style: none;
	position: relative;
  }
  
  .card:before{
	content: '';
	display: block;
	padding-bottom: 150%;
	width: 100%;
	
  }
  
  .card__background{
	background-size: cover;
	background-position: center;
	border-radius: var(--spacing-l);
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	transform: scale(1) translateZ(0);
	transition: 
	  filter 200ms linear,
	  transform 200ms linear;
  }
  
  .card:hover .card__background{
	transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
	filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
	left: 0;
	padding: var(--spacing-l);
	position: absolute;
	top: 0;
  }
  
  .card__category{
	color: var(--text-light);
	font-size: 0.9rem;
	margin-bottom: var(--spacing-s);
	text-transform: uppercase;
  }
  
  .card__heading{
	color: var(--text-lighter);
	font-size: 1.9rem;
	text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
	line-height: 1.4;
	word-spacing: 100vw;
  }



/*FIN de aplicacion de CARDS */

/* Aplicacion de NAVBAR */


/* .nav-enlace{
	justify-content: space-between ;
	margin-top: 0px;
	background-color: var(--primary);
	margin-bottom: 0px;
	display: inline-block;
	font-size: 3rem;
	align-items: center;
	
} */

.navbar {
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary);
}

.nav-btn {
	list-style: none;
}

.nav-option {
	margin: .625rem;
}

nav,
header,
main,
footer {
	padding: 0% 7%;
}

nav {
	height: 7vh;
}


.nav-btn{
	list-style: none;
}

.navbar-desktop {
	display: none;
}

.navbar-mobile {
	display: block;
}




.style-button{
  background-color: var(--third);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 1rem;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  
}


.style-button:hover {opacity: 1}

.style-button :visited{
	color: black;
	
}

.sin-subrayado{
	text-decoration: none;
}

/* Fin de aplicacion de NAVBAR */